/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   /*  Google Fonts
   font-family: 'Great Vibes', cursive;
   font-family: 'Lora', serif;
   font-family: 'Open Sans', sans-serif;
   
   */

/* =====General Styles===== */

html {
   font-size: 16px;
  }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #121126;
  }

ul, ol {
  list-style: none;
  }

a {
  text-decoration: none;
  }

h1 {
  font-family: 'Lora',serif;
  font-size: 1.45em;
  font-weight: 500;
   padding-bottom: 20px;
}

h2 {
  font-size: 1.875em;
  font-weight: 500;
}

h3,
h4 {
  font-weight: 500;
  font-size: 1.125em;
  margin: 10px 0;
}

p {
  font-size: 1em;
  line-height: 1.4;
}

figure {
  display: flex;
  margin: 0;
}

.content-wrapper {
    width: 90%;
    margin: 40px 0;
}

/* Scroll to Top Button Styles */ 

#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to right, #121126, #544F73, #121126);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

#btnScrollToTop:active {
  background: #bb5759;
}

/* ==================== Base Header - Footer Styles =========================*/

/* header styles */

:root {
   --background: url('../img/hero-img.jpg');
}

header {
  background: var(--background) center no-repeat #544F73;
  background-size: cover; 
}

.homepage-header {
  min-height: 500px;
}

.navbar {
  font-size: 1.125em; /*font-size 18px */
  padding-bottom: 10px;
  text-shadow: 1px 1px #000;
}

header .nav-bar figure img {
  margin: 0;
  padding-bottom: 20px;
  text-decoration: none;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav a {
  color: #fff;
}

.nav-links:hover {
  color: rgb(187, 87, 89);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.navbar-toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.active {
  display: block;
}

.main-statement {
  color: #fff;
  font-size: 1.2em;
  margin-left: 40px;
  padding-bottom: 20px;
  text-align: left;
  text-shadow: 1px 1px #000;
}

.main-statement span {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5em;
}


/* Footer Styles */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  flex-direction: column;
  background-color: #544F73;
  color: #fff;
 }

footer .content-wrapper {
  background-color: #544F73;
  width: 55%;
  margin: 20px 0;
}


.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 20px;
}

.footer-social-icons p  {
  font-size: 1.45em;
 }

 .footer-social-icons p a {
  color: #fff;
 }

footer .copyright
{
  color: #fff;
}

/* ================= Mobile Styles ==================== */

/* ==========================================================================
    HomePage styles
   ========================================================================== */

/* About */

#about {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

#about h2 {
  border: 5px solid #544F73;
  padding: 5px;
  color: #544F73;
  font-weight: bold;
}

#about article div, 
#about article figure {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#about figure img {
  width: 100%;
  border: 3px solid #544F73;
  margin: 20px 0;
  padding: 3px;
  background: #ffffff;
}

#about article figure p {
  text-align: center;
  color: #121126;
}
/* Leading Statement */

.lead-statement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #544F73;
}

.lead-statement h2 span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: 5px solid #ffffff;
  font-family: 'Great Vibes', cursive;
  font-size: 1.25em; /*37.5px font-size (30px x 1.25) */
  padding: 10px;
  text-align: center;
}


/* Specialties Styles */


#specialties {
  background: url("../img/specialtiesb1.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#specialties h2 {
  border: 5px solid #544F73;
  padding: 5px;
  color: #544F73;
  font-weight: bold;
}

#specialties .specialties-items {
  margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
}

#specialties article {
  margin: 40px 0px;
    
}

#specialties .specialties-item-description {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
}

#specialties i {
  font-size: 3.75em;
  margin-bottom: 5px;
  color: #544F73;
}

#specialties h3 {
  text-align: center;
  color: #544F73;
  font-weight: bold;
}

#specialties p {
  margin: 0;
  text-align: center;
      font-weight: 400;
}

#specialties .coming-soon p {
   font-style: italic;
   font-weight: bold;
}

#specialties .coming-soon p a {
  text-decoration: underline;
  color: #544F73;
}

/* Call to Action Button */

.cta {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 30px 0 20px 0;
}

.cta button {
  padding: 15px 25px;
  background: linear-gradient(to right, #121126, #544F73, #121126);
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 3px 6px #999;
}

  /* cta text */
.cta button a {
  color: #fff;
  font-family:'open sans',
  sans-serif;
  font-size: 0.8125em;
 
}

.cta button span {
  color: #fff;
  font-size: 1.875em;
  font-family:'open sans',
  sans-serif;
  letter-spacing:-1px;
  font-weight:bold;
}

.cta button:hover {
  background: #544F73;
}

.cta button:active {
  background-color: #544F73;
  box-shadow: 0 3px #666;
  transform: translateY(5px);
}

/* ==========================================================================
    Portfolio Page styles
   ========================================================================== */

.portfolio {
  background: url("../img/portfolio-background.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.portfolio h2 {
  border: 5px solid #544F73;
  padding: 5px;
  color: #544F73;
  font-weight: bold;
}

.portfolio .portfolio-gallery {
  margin: 0 auto;
}

.portfolio article {
  margin: 35px 0px;
}

.portfolio h3 {
  color: #544F73;
  font-weight: bold;
  text-align: center;
}

.portfolio img {
  width: 100%;
  border: 3px solid #544F73;
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
}

.portfolio img:hover {
  opacity: 0.5;
}

.portfolio .tech-used {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 15px 0;
}

.portfolio article p {
  margin: 0;
  text-align: center;
}

.portfolio .portfolio-intro p {
  text-align: left;
}

/* ==========================================================================
    Contact Page styles
   ========================================================================== */

#contact {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-flow: row wrap;
  color: #000; 
}

#contact address {
  padding-right: 10px;
}

#contact article {
  display: flex; 
  justify-content: center;
  flex-flow: row wrap;
}

#contact h2 {
   border: 5px solid #544F73;
   padding: 5px;
   color: #544F73;
   font-weight: bold;
}

#contact img {
  border: 3px solid #544F73;
  padding: 3px;
  background: #ffffff;
  width: 100%;
}

div.social-icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 50%;
  width: 100px;
  height: 40px;
}

#contact p a {
  color: #bb5759;
  font-size: 1.3125em;
  flex-flow: row;
}

.social-icons i {
  font-size: 2em;
  padding: 5px;
  margin: auto  5px;
}
 
/* CONTACT FORM STYLES */

section .contact-form  {
  background: url("../img/form-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.form-all {
margin: 0 auto;
}

/* ==========================================================================
    Thank you Page Submission styles
   ========================================================================== */

.thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;
}

.polaroid-thankyou-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.polaroid-thankyou-card figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.polaroid-thankyou-card img {
  width: 100%;
}
  
div.container {
  padding:10px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*========================= Tablet Styles Here ========================= */

@media screen and (min-width: 768px) {
    
/* General Styles Here */

.content-wrapper {
  max-width: 700px;
  margin: 80px 0;
 }


h1 {
  font-size: 2em;
  line-height: 1.5;
  max-width: 90%;
}

h2 {
  font-size: 2.25em;
  line-height: 1.333;
}

h3 {
  font-size: 1.5em;
  line-height: 1.25;
}

h4 {
  font-size: 1.3em;
  line-height: 1.25;
}

/* --Header Styles --*/


header {
  justify-content: space-around;
}

.homepage-header {
  min-height: 700px;
}


header .content-wrapper {
  width: 100%;
  justify-content: space-between;
}

.main-statement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  }
 
/* ============= Homepage Tablet Styles =============*/

/* --About Styles --*/

#about article {
  display: flex;
  justify-content: space-between;
}

#about article div,
#about article figure {
  width: 49%;
}

#about img {
  margin: 20px 0 16px 0;
  width: 100%;
} 

/* --Specialties Styles --*/

#specialties {
  min-height: 860px;
}

#specialties h2 {
  margin: 0 20px 0 20px;
}

#specialties .specialties-items {
  margin: 20px 0;
}


#specialties .specialties-items  article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 50%;
}

#specialties .specialties-item-description {
  width: 65%;
}


/* call to action button */
/*
.cta button {
  height: 80px;
  max-width: 20px;
} */

/* --Footer Styles --*/

footer .content-wrapper {
  width: 55%; 
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

footer .footer-social-icons {
  font-size: 1.5em;
  width: 8em;
  justify-content: space-between;
}


/* ============= Portfolio Page Tablet Styles =============*/


.portfolio {
 min-height: 860px;
} 

.portfolio .portfolio-gallery {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 50%;
}


.portfolio article,
.portfolio article fig {
  width: 49%;
} 

 .portfolio .portfolio-gallery article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}


.portfolio .portfolio-gallery {
  margin: 20px 0;
 }

/* ============= Contact Page Tablet Styles =============*/

#contact article {
 display: flex;
 justify-content: center;
 margin: 20px 0;
}

#contact article address,
#contact article figure {
  width: 49%;
}
#contact img {
 width: 100%;
}

}

/*========================= Desktop Styles Here ========================= */
@media screen and (min-width: 1200px) {


  /* --------- General Styles ------------ */
 .content-wrapper {
   max-width: 970px;
 }

 p {
   font-size: 1.125em;
   line-height: 1.5;
 }

 /* -- Header Styles -- */

  header .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 120px;
    align-items: center;
   }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   }

 
  ul #js-menu .main-nav{
    display: flex;
    margin-left: 30px;
  } 

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 15px;
    margin-right: 30px;
  }

.navbar figure {
    margin-top: 50px;
  }
  
.navbar-toggle {
  display: none;
}


 /* ============= Homepage Desktop Styles =============*/

/* --- Header ---*/

.homepage-header {
  min-height: 700px;
}

.main-statement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

h1 {
  margin-top: 80px;
}

#about article div,
#about article figure {
  width: 42%;
  margin: 0px;
}

#about article div {
  margin-top: 16px; 
}

#about article div p {
  margin: 0px;
  line-height: 1.5;
}

#specialties {
  background: url("../img/specialtiesb2.jpg") center no-repeat;
  background-size: cover;
}

#specialties .specialties-items article {
  flex-basis: 33.3%;
}


/* ============= PORTFOLIO DESKTOP STYLES =============*/


#portfolio .portfolio-gallery article {
   margin: 20px 20px;
}

.tech-used {
  width: 70%;
}

/* ============= CONTACT DESKTOP STYLES =============*/

section .contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0
}

 form.jotform-form {
   display: flex;
   justify-content: center;

}

}




@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

